<div class="structure-view">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <style>
    .tree-panel {
      height: 630px;
      overflow: scroll;
    }

    #tree-playlist li {
      cursor: pointer;
      margin-bottom: 0px;
      padding: 4px 0 4px 8px;
    }
    #tree-playlist li:hover {
      background-color: #2f333d;
    }

    /* #tree-playlist li.play-list :hover {
        background-color: #2f333d;
    }

    #tree-playlist li.playlist-control :hover {
        background-color: #21242b;
    } */

    .list-tree.has-collapsable-children li.list-item {
      position: relative;
    }

    .symbol-mixed-block.list-tab {
      padding-left: 6px;
    }

    hr {
      margin-top: 2px;
      margin-bottom: 2px;
      border: 0;
      border-top: 1px solid #eeeeee;
    }

    .vertical-menu {
      width: 400px;
      padding-left: 14px;
      padding-right: 14px;
    }

    .vertical-menu a {
      color: #a0a0a0;
      display: block;
      padding: 4px;
      text-decoration: none;
    }

    .vertical-menu a:hover {
      background-color: #2f333d;
    }

    li.play-list-angle-down:before {
      content: "\f107";
      /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      width: 1.3em;
      position: absolute;
      left: 4px;
      top: 4px;
      /* same as padding-left set on li */
    }

    li.play-list-angle-right:before {
      content: "\f105";
      /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      width: 1.3em;
      position: absolute;
      left: 4px;
      top: 4px;
      /* same as padding-left set on li */
    }

    .playlist-control {
      float: right;
      padding: 0px 15px 0px 0px;
      cursor: pointer;
    }

    .vertical-menu a.active {
      background-color: #565656;
      color: #a0a0a0;
    }
    .loader {
      border: 5px solid #f3f3f3;
      border-radius: 50%;
      border-top: 5px solid #3498db;
      width: 15px;
      height: 15px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .leftbox { 
                float:left;  
                width:50%; 
            } 
    .rightbox{ 
        float:left;  
        width:50%; 
    } 
  </style>
  <div class="sv-toolbox block">
    <!-- <button class="inline-block-tight btn icon icon-screen-normal" value="collapse" title="Collapse All"  @click="onToggleWholeTree"></button>
    <button class="inline-block-tight btn icon icon-screen-full" value="expand" title="Expand All" @click="onToggleWholeTree"></button>
    <button class="inline-block-tight btn icon icon-question" @click="onClickGuide" title="Guide"></button>
    <button class="inline-block-tight btn icon icon-settings" @click="onOpenSettingsTab" title="Settings"></button> -->
    <span>MUSIC TIME</span>
  </div>
  <!-- <div class="no-file-hint" v-show="noTagHint"><pre>{{noTagHint}}</pre></div> -->
  <div class="loader" id="loader" style="display: none"></div>
  <div class="vertical-menu" >
    <a href="#" id="spotify-status" title="you have connected to spotify" style="display: none"></a>
    
      <a href="#" id="spotify-connect" title="connect to spotify"
      >
      
      Connect Spotify</a>
 

    <a href="#" id="spotify-disconnect" title="You Want to Disconnect Spotify?"
    style="display: none">Disconnect Spotify</a
    >

    <a
      href="#"
      id="spotify-refresh-playlist"
      title="You Want to Refresh Custom Spotify Playlist"
      style="display: none" >Refresh Custom Spotify Playlist</a
    >
    <hr />
  </div>
  <div class="tree-panel" id="tree-content">
    <ol
      class="full-menu list-tree has-collapsable-children"
      id="tree-playlist"
    ></ol>
  </div>
  <!-- <div class="mask">
    <div>&nbsp;</div>
    <span class='loading loading-spinner-small inline-block'></span>
  </div> -->
</div>

<li
  node-id="Liked_Songs"
  class="list-item play-list collapsed"
  title="Liked Songs"
>
  <div class="symbol-mixed-block list-tab">
    <span>Liked Songs</span>
  </div>
  <ol class="list-tree">
    <li
      node-id="6BbFwwHnzY74a8GOsDg8Sn"
      class="list-nested-item expanded collapsed list-item"
      title="Outlier"
    >
      <div class=" symbol-mixed-block">
        <span>Outlier</span>
      </div>
    </li>
    <li
      node-id="0TLAptKgYxe7F0KewWH6X6"
      class="list-nested-item expanded collapsed list-item"
      title="I Need A Forest Fire"
    >
      <div class=" symbol-mixed-block">
        <span>I Need A Forest Fire</span>
      </div>
    </li>
    <li
      node-id="6t52BHKOeX3os9AxPqET1R"
      class="list-nested-item expanded collapsed list-item"
      title="Salvation"
    >
      <div class=" symbol-mixed-block">
        <span>Salvation</span>
      </div>
    </li>
    <li
      node-id="2bKS7HtZ9Cy4K7NGeRlePF"
      class="list-nested-item expanded collapsed list-item"
      title="Attention - Acoustic"
    >
      <div class=" symbol-mixed-block">
        <span>Attention - Acoustic</span>
      </div>
    </li>
  </ol>
</li>
