<div class="structure-view">
    <style>
        /* @import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css"); */
        .tree-panel {
            height: 630px;
            overflow: scroll;
        }

        a,
        label {
            color: #a0a0a0;
            display: block;
            padding: 4px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        li {
            text-decoration: none;
        }

        .list-tree.has-collapsable-children li.list-item {
            position: relative;
        }

        hr {
            margin-top: 2px;
            margin-bottom: 2px;
            border: 0;
            border-top: 1px solid #eeeeee;
        }

        .vertical-menu {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            width: 400px;
            padding-left: 6px;
            padding-right: 10px;
            overflow: scroll;
        }

        .vertical-menu a:hover,
        .vertical-menu label:hover {
            background-color: #2f333d;
        }

        .vertical-menu a.active {
            background-color: #565656;
            color: #a0a0a0;
        }

        .vertical-menu ul,
        .vertical-menu li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .vertical-menu input {
            position: absolute;
            opacity: 0;
        }

        .vertical-menu input + label + ul {
            margin: 0 0 0 22px;
        }

        .vertical-menu input + label + ul {
            display: none;
        }

        .vertical-menu label,
        .vertical-menu label::before {
            cursor: pointer;
        }

        .vertical-menu input:disabled + label {
            cursor: default;
            opacity: 0.6;
        }

        .vertical-menu input:checked:not(:disabled) + label + ul {
            display: block;
        }

        label::before {
            content: '\f078';
            font-family: 'Octicons Regular';
            font-size: 16px;
            width: 12px;
            height: 12px;
            padding-right: 6px;
        }

        input:checked + label::before {
            content: '\f0a3';
            font-family: 'Octicons Regular';
            font-size: 16px;
            width: 12px;
            height: 12px;
            padding-right: 6px;
        }

        .leftbox {
            float: left;
            width: 50%;
        }
        .rightbox {
            float: left;
            width: 50%;
        }
        .divider {
            margin-left: 25px;
        }
        .sv-toolbox {
            padding: 10px 2px 2px 2px;
        }

        label {
            padding: 5px;
            border-radius: 3px;
            margin: 2px;
        }
    </style>

    <div class="sv-toolbox block">
        <span>CODE TIME</span>
    </div>

    <div class="vertical-menu">
        <a href="#" id="advanced-metrics" title="">See advanced metrics</a>
        <a href="#" id="generate-dashboard" title="">Generate dashboard</a>
        <a href="#" id="toggle-status-metrics" title=""
            >Hide status bar metrics</a
        >
        <a href="#" id="learn-more" title="">Learn more</a>
        <a href="#" id="submit-feedback" title="">Submit feedback</a>
    </div>
    <hr />
    <div class="sv-toolbox block">
        <span>ACTIVITY METRICS</span>
    </div>
    <div class="vertical-menu">
        <ul>
            <li>
                <input type="checkbox" id="editor-time" />
                <label for="editor-time">Editor time</label>
                <ul>
                    <li><a href="#" id="editor-time-today">Today: 0 min</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="code-time" />
                <label for="code-time">Code time</label>
                <ul>
                    <li><a href="#" id="code-time-today">Today: 0 min</a></li>
                    <li>
                        <a href="#" id="code-time-avg">Your average: 0 min</a>
                    </li>
                    <li>
                        <a href="#" id="code-time=global"
                            >Global average: 0 min</a
                        >
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <hr />
    <div class="sv-toolbox block">
        <span>PROJECT METRICS</span>
    </div>
</div>
